<ion-view title="About Me" id="page11">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div>
      <img src="img/VtoDpOwkSCKvjvoJvk2l_Capture.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="aboutMe-markdown10" class="show-list-numbers-and-dots"></div>
    <div id="aboutMe-markdown25" class="show-list-numbers-and-dots"></div>
    <div id="aboutMe-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> </p>
    </div>
    <div id="aboutMe-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> </p>
    </div>
    <div id="aboutMe-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Thank you for checking out LocalFood Pueblo (LFP). We are a very new organization located in Pueblo, CO dedicated to serving Pueblo City-County and Southeastern Colorado LocalFood Pueblo (LFP) currently is a subsidiary of the non-profit NeighborWorks
        of Pueblo (NWP) as a part of their Community Development division. Please like us on Facebook and thank you for your interest in local food and the local economy!</p>
    </div>
    <div id="aboutMe-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Contact us: 719-544-8078</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.5089744702527!2d-104.61863168466877!3d38.244499979676625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8713a2d7615fbe8f%3A0xf79c9210d659e0b3!2sNeighbor+Works+of+Pueblo!5e0!3m2!1sen!2sus!4v1491240948369"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </ion-content>
</ion-view>