<ion-view title="Donate" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="donate-markdown4" class="show-list-numbers-and-dots"></div>
    <div>
      <img src="img/pK9tLSXT06BsIcVJsHvD_FinalLogo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="donate-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If you would like to make a donation to LocalFood Pueblo You can mail or drop off your donation to:</p>
    </div>
    <div id="donate-markdown6" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">LocalFood Pueblo</p>
    </div>
    <div id="donate-markdown7" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">1241 E Routt</p>
    </div>
    <div id="donate-markdown8" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Pueblo, Colorado 81004</p>
    </div>
  </ion-content>
</ion-view>