<ion-view title="Find Food" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="findFood-form4" class="list">
      <label class="item item-select" id="findFood-select3" name="foodType">
        <span class="input-label">Food Type</span>
        <select>
          <option>Vegetable</option>
          <option>Fruit</option>
          <option>Beverage</option>
        </select>
      </label>
    </form>
    <form id="findFood-form5" class="list">
      <label class="item item-select" id="findFood-select4" name="foodSelector">
        <span class="input-label">Food</span>
        <select>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </label>
    </form>
    <button id="findFood-button11" class="button button-assertive button-large button-block icon ion-search"> Search</button>
  </ion-content>
</ion-view>