<ion-view title="Help" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="help-markdown12" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Welcome to LocalFood Pueblo Help!</p>

      <ul>
        <li>
          <p style="color:#000000;">Main Page: The main page is the center of the app. Access this page by first turning on the app, going back to this page, or by pressing the home button on the app.</p>
        </li>
        <li>
          <p style="color:#000000;">Buttons: These buttons are located on the main page. The buttons activate the application operations. These buttons are listed below</p>
        </li>
        <li>
          <p style="color:#000000;">Find Food: Click on this button to find locally made and distributed food in Pueblo.</p>
        </li>
        <li>
          <p style="color:#000000;">“Food” Text Box: Type in what kind of food you want to search for. Then click on the Find Food button to continue.</p>
        </li>
        <li>
          <p style="color:#000000;">Find Food: Click this button when done typing in desired choice of food to search for. Results will display what vendors and/or producers offer that food. If nothing displays, no one registered on the app offers that food.</p>
        </li>
        <li>
          <p style="color:#000000;">Producers: Clicking on this button will display all the producers on the app.</p>
        </li>
        <li>
          <p style="color:#000000;">Vendor: Clicking on this button will display all the producers on the app.</p>
        </li>
        <li>
          <p style="color:#000000;">Maps: Clicking on this button will display the location of LocalFood Pueblo and other locations of various Producers/Vendors on the app. </p>
        </li>
        <li>
          <p style="color:#000000;">Post: If you would like to post information about your organization, you may do so here.</p>
        </li>
        <li>
          <p style="color:#000000;">Add Organization: Type in the text field and click on Add Organization to add your own organization into LocalFood Pueblo! Type in all of your information about your organization and food in the displayed text boxes that follow.</p>
        </li>
        <li>
          <p style="color:#000000;">Submit: Click here to submit and click OK to complete the process.</p>
        </li>
        <li>
          <p style="color:#000000;">Delete Organization: Type in the desired deletion of organization here.</p>
        </li>
        <li>
          <p style="color:#000000;">Update: To update an already added organization, click and type here to do so. Click Update to submit the desired changes.</p>
        </li>
        <li>
          <p style="color:#000000;">Help: You Are Here! This button will bring you to this very page, which will help you navigate the app and answer any questions you may have.</p>
        </li>
        <li>
          <p style="color:#000000;">Home: Click here to go to the main page of LocalFood Pueblo. The main page is the center of the app. Access this page by hitting first turning on the app, going back to this page, or by pressing the home button.</p>
        </li>
        <li>
          <p style="color:#000000;">Donate: Any donations and contributions can be submitted here. Thank you!</p>
        </li>
        <li>
          <p style="color:#000000;">About Me: Click on this button to access information about LocalFood Pueblo!</p>
        </li>
        <li>
          <p style="color:#000000;">Hamburger: Nicknamed “The hamburger” button, this will bring a drop-in menu from the left of your screen. On this menu, there are shortcuts to all of the buttons on the app, as well as a back hoome button, a combined button for Producer/Vendor,
            amd the Calendar button.</p>
        </li>
        <li>
          <p style="color:#000000;">Calendar: Click on this button to access the Calendar. This will display all of the upcoming events and dates for LocalFood Pueblo. If you would like any of your organizations events displayed here, contact LocalFood Pueblo’s administrator!</p>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>