<ion-view title="Information" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="information-form17" class="list">
      <label class="item item-input" id="information-input15" name="addOrgName">
        <span class="input-label">Organization Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="information-textarea12" name="addOrgDescription">
        <span class="input-label">Description</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="information-input16" name="addOrgWebsite">
        <span class="input-label">Website</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="information-input17" name="addOrgPhone">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="information-input18" name="addOrgFood">
        <span class="input-label">Food</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="information-select10" name="addOrgCategory">
        <span class="input-label">Category Type</span>
        <select>
          <option>Vendor</option>
          <option>Food Bank</option>
          <option>Producer</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>