<ion-view title="LocalFood Pueblo" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/W4YWFIl4TC6OqKmikaPR_FinalLogo.png" style="display: block; width: 80%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabscontroller.search" id="localFoodPueblo-button13" style="border-radius:75px 75px 75px 75px;" class="button button-balanced  button-block icon ion-ios-search-strong"> Find Food</a>
    <div id="localFoodPueblo-button-bar1" class="button-bar"></div>
    <div id="localFoodPueblo-button-bar2" class="button-bar">
      <a ui-sref="tabscontroller.results({})" id="localFoodPueblo-button9" style="border-radius:75px 75px 75px 75px;" class="button button-balanced  button-block">Producer</a>
      <a ui-sref="tabscontroller.results({})" id="localFoodPueblo-button10" style="border-radius:75px 75px 75px 75px;" class="button button-balanced  button-block">Vendor</a>
    </div>
    <div id="localFoodPueblo-button-bar3" class="button-bar">
      <a ui-sref="tabscontroller.map" id="localFoodPueblo-button17" style="border-radius:75px 75px 75px 75px;" class="button button-balanced  button-block">Maps</a>
      <a ui-sref="tabscontroller.post" id="localFoodPueblo-button19" style="border-radius:75px 75px 75px 75px;" class="button button-balanced  button-block">Post</a>
    </div>
    <a ui-sref="tabscontroller.help" id="localFoodPueblo-button12" style="border-radius:75px 75px 75px 75px;" class="button button-assertive  button-block icon ion-alert-circled"> Help</a>
  </ion-content>
</ion-view>