<ion-view title="Organization" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="organization-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="organization-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="organization-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>