<ion-view title="Post" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="post-markdown14" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <div>
      <img src="img/RjImW0vQ6mw1MyF0KCMh_FinalLogo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="post-heading2" style="color:#000000;">Select "Add Organization" to upload </h4>
    <a ui-sref="tabscontroller.survey" id="post-button26" class="button button-assertive  button-block">Add Organization</a>
    <div id="post-markdown16" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <h4 id="post-heading3" style="color:#000000;">Select "Delete Organization" to delete information</h4>
    <a ui-sref="tabscontroller.deletion({})" id="post-button27" class="button button-assertive  button-block">Delete Organization</a>
    <div id="post-markdown18" style="text-align:center;" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>