<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabscontroller-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/page2/index" id="tabscontroller-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Donate" icon="ion-cash" href="#/page2/donate" id="tabscontroller-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About Me" icon="ion-android-contact" href="#/page2/aboutme" id="tabscontroller-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>