<ion-view title="Update" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="update-form12" class="list">
      <label class="item item-select" id="update-select11" name="updateOrgSelect">
        <span class="input-label">Select Organization</span>
        <select>
          <option></option>
        </select>
      </label>
      <label class="item item-input" id="update-input8" name="updateOrgName">
        <span class="input-label">Organization Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="update-textarea8" name="updateOrgDescription">
        <span class="input-label">Description</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="update-input9" name="updateOrgWebsite">
        <span class="input-label">Website</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="update-input10" name="updateOrgPhone">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="update-input11" name="updateOrgFood">
        <span class="input-label">Food</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="update-select9" name="updateOrgCategory">
        <span class="input-label">Category Type</span>
        <select>
          <option>Vendor</option>
          <option>Food Bank</option>
          <option>Producer</option>
        </select>
      </label>
    </form>
    <button id="update-button18" class="button button-assertive  button-block">Update</button>
  </ion-content>
</ion-view>